html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

#root {
    overflow: hidden; /* no scroll bar */
    /* change test*/
}

.container {
    height: 100vh;
    padding: 0px 20px 75px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
}

h1 {
    margin: 15px 5px 15px 15px;
    display: inline-block;
}

table {
    width: 100%;
    border-collapse: collapse;

}

td, th {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

#navn {
    color:  navy;
}

input {
    width: 19px;
    height: 19px;
    margin: 0px 5px;
}

.sortable {
    cursor: pointer;
    position: relative;
    padding-right: 20px; /* Make space for the indicator */
}

/* Base style for all headers to reserve space */
th.sortable::after {
    content: '';
    position: absolute;
    right: 8px;
    width: 12px;
    height: 12px;
}

/* Specific styles for sorted headers */
th.sort-asc::after {
    content: '▲';
}

th.sort-desc::after {
    content: '▼';
}

.table-scroll-wrapper {
    flex: 1;
    overflow-y: auto;
    background: #F9F7F7;
    border-radius: 6px;
    margin-bottom: 75px;
}

.beholdning-tabel {
    width: 100%;
    border-collapse: collapse;
}


.table-header {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.title-holder {
    display: flex;
    align-items: baseline;
}

p {
    color: rgba(34, 49, 99, 0.593);
    font-weight: 600;

}