.container {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;

}

td, th {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

#navn {
    color:  navy;
}

input {
    width: 19px;
    height: 19px;
    margin: 0px 5px;
}

.sortable {
    cursor: pointer;
    position: relative;
    padding-right: 20px; /* Make space for the indicator */
}

/* Base style for all headers to reserve space */
th.sortable::after {
    content: '';
    position: absolute;
    right: 8px;
    width: 12px;
    height: 12px;
}

/* Specific styles for sorted headers */
th.sort-asc::after {
    content: '▲';
}

th.sort-desc::after {
    content: '▼';
}
