.header {
    background-color: #2865ad;
    color: #EDEDED;
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
}

h1 { 
    margin: 10px;
}

.divider {
    width: 1px;
    height: 50%;
    background-color: #DBE2EF;
    opacity: 50%;
}

.header a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
}

.header a:hover {
    background-color: #17395f;
}

.header a.active {
    background-color: #22528a;
}


.header a.no-active.active {
    background-color: transparent;
}

.header a.no-active:hover {
    background-color: transparent;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
    color: #ffffff;
}
